<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

 Categories:<br />
 <ul>
   <% @post.categories.each do |c| %>
   <li><%= c.name %></li>
   <%end %>
 </ul>

 Comments:<br />
 <ul>
   <% @post.comments.each do |c| %>
   <li><%= c.content %></li>
   <%end %>
 </ul>


Users Commented:<br />
 <ul>
 <% @post.users.uniq.each do |user| %>
   <li><%= link_to user.username, user %></li>
 <% end %>
 </ul>
